#navigation_bar {
    background-color: #db1313;
    margin: 10px;
    padding: 5px;
    padding-bottom: 10px;
}

#navigation_bar ul {
    list-style: none;
    display: flex;
    padding-left: 110px;
    padding-top: 15px ;
}

#navigation_bar li {
    text-decoration: none;
    padding-top: 20px;
    padding-right: 60px;
    
}

#navigation_bar li a {
    padding-left: 25px;
    text-decoration: none;
    font-size: 19px;
    color: black;
    display:block;
    width: 75px;
    font-family: 'Albert Sans', sans-serif;
}

#nav_img {
    padding-right:50px;
}

body{
    background-color: black;
}

#feedback {
    width: 600px;
    height: 400px;
    margin-top: 100px;
    margin-left: 500px;
    background-color: #db1313;
    font-family: 'Albert Sans', sans-serif;
    font-size: 17px;
}