<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Customer Care Registry</title>
    <link rel="stylesheet" href="..\static\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet">
</head>
    <body>
        <header>
            <a class="logo" href="{{ url_for('home') }}">
                <img src="..\static\sitelogo.png" alt="logo" width="325" height="60">
            </a>
            <nav>
                <ul class="nav__links">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('support') }}">Support</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>
            <a class="signin" href="{{ url_for('signin') }}"><button>Sign In</button></a>
            <a class="signup" href="{{ url_for('signup') }}"><button>Sign Up</button></a>
        </header>
    </body>
</html>
<br><br>

{% block content %}

{% endblock %}

<br><br>