<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="signup">
            <h1>Sign Up</h1>
            <form action="#" method="POST"
                <p>First Name : </p>
                <input type="text" name="firstname" placeholder="First Name">
                <p>Last Name : </p>
                <input type="text" name="lastname" placeholder="Last Name"
                <p>Email : </p>
                <input type="email" name="email" placeholder="E-Mail"
                <p>Password : </p>
                <input type="password" name="password" placeholder="Password"
                <button type="submit">Sign Up</button>
        </div>
    </body>