<!DOCTYPE html>
<html>
    <head>
        <title>Customer Care Registry</title>
        <link rel="stylesheet" href="..\static\style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 id="homehead"><center>Customer Care Registry</center></h1>
    </body>
</html>